//Variables de colores
$background:rgb(77, 77, 77);
$pink:rgb(248, 161, 176);
$background-header: $pink;
$backgorund-ejemplo:rgb(230, 230, 230);
$span: rgb(247, 188, 78);

//Variables de padding

$padding:1em;

//Breakpoints

//Animaciones
@keyframes destacar{
    50%{
        text-shadow: 2px 2px 10px white;
        font-size: 40px;
    }
}

@keyframes sombrear{
    50%{box-shadow: 0px 0px 15px $pink;}
}

//General
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

//HEADER
header{
    display: flex;

    background-color: $background-header;
    width: 100%;
    height: 160.5px;

    &:hover{
        animation-name: destacar;
        animation-duration: 2s;
        transition-timing-function: linear;
        transition-delay: 0.5s;
    }

    h1{
        
        margin: auto;
        color: white;
        letter-spacing: 10px;
        font-weight: lighter;

        animation-name: destacar;
        animation-duration: 3s;
        transition-timing-function: linear;
        transition-delay: 0.5s;
    }
}

//BODY
body{
    background-color: $background;
}
main{
    display: flex;
    width: 100%;
    margin: auto;
    max-width: 1200px;
    background-color: white;

    .contenedor_00{
        margin: auto;
        width: 60%;
        padding: $padding + 1;
        text-align: justify;

        p{
            margin-bottom: $padding;
        }
    }

    .contenedor_01{
        margin: auto;
        width: 40%;
        padding: $padding + 1;

        .contenedor_img{
            background-color: $backgorund-ejemplo;
            padding: $padding;
            border-radius: $padding;

            .ejemplo{
                padding-bottom: $padding;
                padding-bottom: $padding;

                .titulo{
                    color: grey;
                    font-size: 12px;
                }

                span{
                    color: $span;
                }
            }

            &:hover{
                animation-name: sombrear;
                animation-delay: 0.2s;
                animation-duration: 3s;
                transition-timing-function: linear;
            }
        }
    }
}

